<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :town %><br>
    <%= f.text_field :town, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :state_acronym %><br>
    <%= f.text_field :state_acronym, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :floors %><br>
    <%= f.text_field :floors, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :per_floor %><br>
    <%= f.text_field :per_floor, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Add location", class: "btn btn-primary" %>
  </div>
<% end %>
