<%= form_for(@sequence) do |f| %>
  <% if @sequence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sequence.errors.count, "error") %> prohibited this sequence from being saved:</h2>

      <ul>
      <% @sequence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="field" hidden>
    <%= f.label :data %><br>
    <%= f.text_area :data, id: 'dataField' %>
  </div>
  <div class="field">
    <%= f.label "Location" %><br>
    <%= f.select :location_id, options_for_locations, {}, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Update sequence", class: "btn btn-primary" %>
  </div>
<% end %>
