<p id="notice"><%= notice %></p>

<% @sequences.each do |sequence| %>
<div class="media">
  <div class="media-left">
    <!--a href="#">
      <img class="media-object" src="test.png">
    </a-->
    <%= link_to image_tag("test.png", size: "50x50", class: "media-object"), edit_sequence_path(sequence) %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= sequence.title %></h4>
    <%= sequence.description %>
  </div>
</div>
<% end %>

<br/> <br/>
<%= link_to 'New Sequence', new_sequence_path %>
