<p id="notice"><%= notice %></p>

<% @sequences.each do |sequence| %>
  <div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading"><%= sequence.title %></h4>
    <p class="list-group-item-text">
      <%= sequence.description %>
      <%= link_to 'Show', sequence %> |
      <%= link_to 'Edit', edit_sequence_path(sequence) %> |
      <%= link_to 'Destroy', sequence, method: :delete, data: {confirm: 'Are you sure?' }%>
    </p>
  </a>
</div>
<% end %>

<%= link_to 'New Sequence', new_sequence_path %>
