<p id="notice"><%= notice %></p>

<div class="container-fluid">
	<div class="col-xs-8">
		<center>
			<h1><%= @sequence.title %></h1>
			<label id="position">1</label>
			<label>/</label>
			<label id="positions">1</label>

			<table class="table-bordered">
				<tbody>
					<% 5.times do |i| %>
					<tr>	
						<% 8.times do |j| %>
						<td class="hostel-win" 
						id="<%= (i * 10) + (j + 1) %>" 
						style="width:50px;height:50px;">
						</td>
						<% end %>
					</tr>
					<% end %>
				</tbody>
			</table>

			<br/>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-success" id="play">
					PLAY
				</button>
				<button type="button" class="btn btn-danger" id="reset">
					RESET
				</button>
			</div>

			<div id="dataField" hidden>
				<%= @sequence.data %>
			</div>
		</center>
	</div>

	<div class="col-xs-4">
		<div class="description">
			<strong>Description:</strong>
			<%= @sequence.description %>
		</div>
			<center><%= link_to 'Edit', edit_sequence_path(@sequence), class: "btn btn-lg  btn-primary" %></center>
	</div>
</div>